*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald','sans-serif';
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.nav-bar{
    width: 100vw;
    height: 60px;
    background-color: black;
    color: lightgray;
    padding: 10px 20px;
    font-size: 13px;
}
.app-cont{
    display: flex;
    justify-content: center;
    background-image: url('./assets/images/ADxJSLfrn5j4fKpZXHnya0M9Z8.jpg');
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    height: fit-content;
    width: 100vw;
    padding: 2em;
}
.app-col{
    width: 600px;
}

.action-icon{
    height: 35px;
    margin: 2.4px;
    cursor: pointer;
}
.action-cont{
    position: relative;
    width: 600px;
    border: 1px solid lightgrey;
    background-color: rgba(0,0,0,.8);
    border-radius: 8px;
    padding: 10px 20px 30px 20px;
    margin-bottom: 20px;
}
.cont-header{
    color: lightgray;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.action-cont-actions{
    width: 100%;
}

.selected-icons-cont{
    width: 600px;
    border: 1px solid lightgrey;
    background-color: rgba(0,0,0,.8);
    border-radius: 8px;
    padding: 10px 20px 30px 20px;
    margin-bottom: 20px;
}
.name-display{
    position: absolute;
    color: white;
    text-align: center;
    height: 20px;
    width: 200px;
    right: 10px;
    bottom: 10px;
}
.controls-cont{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 30px;
    margin-bottom: 20px;
}
.controls-cont input{
    margin: 0px 6px;
    border: none;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: black;
    color: white;
    font-weight: normal;
    padding: 4px 20px;
    cursor: pointer;
}
.se-selection-cont{
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: rgba(0,0,0,.8);
    color: white;
    font-size: 13px;
    margin-left: 8px;
    padding: 0px 20px;
    width: 315px;
    display: flex;
    align-items: center;
}
.se-msg{
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    border-radius: 4px !important;
    font-size: 12px;
}
#se\#{
    background-color: rgba(0,0,0,.8);
    color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 20px;
    padding: 0px 5px;
    font-size: 12px;
}
.output-cont{
    max-width: 600px;
    min-width: 600px;
    height: 470px;
    color: white;
    border: 1px solid lightgrey;
    background-color: rgba(0,0,0,.8);
    border-radius: 8px;
    padding: 10px 20px 30px 20px;
    margin-bottom: 20px;
}

.output{
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 400px;
    padding: 20px;
    border: none;
    background-color: rgba(0,0,0,.0);
    border-radius: 8px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}